body {
    margin: 0;
    background-color: #F4F4F2; 
    color: #4d5a7a;
    font-family: Candara; 
    font-weight: normal; 
    letter-spacing: 1px
}

.top-container{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    vertical-align: middle;
    color: #293B5F;
}
hr {
    width: 90%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, #F4F4F2, #BBBFCA, #F4F4F2);
}



h3{
    color: #293B5F;
}

/*Things tried but did not work*/

#circle{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
}


.dottedhr {
    margin:0 auto;    
    width: 90%;
    height: 40px;
    background-image: linear-gradient(to right, #F4F4F2, #E8E8E8, #BBBFCA, #E8E8E8, #F4F4F2);
    mask: #circle;
}